.loading-overlay {
  position: fixed; /* 画面全体に表示 */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* 半透明の背景色 */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: calc(infinity); /* 最前面に表示 */
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
}
