.detail-top {
  height: 150px;
  flex-shrink: 0;
}


.detail-dialog-button {
  display: flex;
  justify-content: center; /* ボタンを中央に配置 */
  background-color: white;
  flex-shrink: 0;
}

.detail-dialog button {
  height: 45px;
  white-space: nowrap;
  padding: 10px 15px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}




.detail-dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* 半透明の黒 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* ダイアログ本体 */
.detail-dialog {
  display: flex;
  flex-direction: column; /* 上から下に要素を配置 */
  justify-content: space-between; /* 上部と下部にスペースを配置 */
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  /* min-width: 650px; */
  max-width: 700px;
  width: calc(100vw - 10px);
  height: calc(100vh - 120px); /* 高さ制限を設定 */
  max-height: 850px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  z-index: 1001;
}

.detail-dialog h2 {
  width: 100%;
  margin-bottom: 15px;
}

.detail-dialog p {
  margin-bottom: 10px;
}

.detail-dialog-image iframe {
  width: 100%;
  height: calc(100vh - 360px);
  max-height: 650px;
}

.detail-top-main {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.detail-title {
  text-align: center;
  display: flex;
}


.buttonUnderlineI {
  flex: 1; /* 各ボタンが同じ幅を持つようにする */
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 30px;
  padding: 0 18px;
  overflow: hidden;
  font-size: 15px;
  color: #222;
  text-align: center;
  overflow-wrap: anywhere;
  background: transparent;
  white-space: nowrap;
  margin: 0 0px; /* 左右に適度なスペース */
}

.buttonUnderlineI::after {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  content: "";
  background-color: #6fa24a;
  transform: scaleX(0);
  transform-origin: right top;
}

@media (any-hover: hover) {
  .buttonUnderlineI::after {
    transition: transform 0.2s cubic-bezier(0.19, 1, 0.22, 1);
  }

  .buttonUnderlineI:hover::after {
    transition: transform 0.4s cubic-bezier(0.9, 0, 0, 1);
    transform: scaleX(1);
    transform-origin: left top;
  }
}

