.confirm-top {
  height: 150px;
  flex-shrink: 0;
}


.dialog-table {
  flex-grow: 1;
  overflow-y: auto; /* テーブルのコンテンツが多い場合にスクロール */
}

.data-table {
  flex-shrink: 1;
  border-collapse: collapse; /* テーブルの境界線を結合 */
}


.confirm-dialog-button {
  display: flex;
  justify-content: center; /* ボタンを中央に配置 */
  padding: 10px 0;
  border-top: 1px solid #ccc;
  background-color: white;
  flex-shrink: 0;
}

.confirm-dialog-button button {
  margin-left: 10px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}



.data-table th, .data-table td {

  white-space: nowrap;
  border: 1px solid #ddd; /* 境界線 */
  padding: 8px;           /* セルの内側に余白 */
  text-align: left;       /* テキストを左揃え */
}

.data-table th {
  background-color: #f2f2f2; /* ヘッダーの背景色 */
  font-weight: bold;         /* ヘッダーの太字 */
}

.data-table tr:nth-child(even) {
  background-color: #f9f9f9; /* 偶数行の背景色を変更 */
}

.dtvendor {
  min-width: 100px;
  max-width: 100px;
  overflow: hidden;
}

.dtcode {
  text-align: right;
  width: 100px;
  min-width: 100px;
}

.dtname {
  max-width: 208px;
  overflow: hidden;
  min-width: 208px;
}

.dtpersonal {
  max-width: 80px;
  min-width: 80px;
}
.dtquantity {
  text-align: right;
  max-width: 80px;
}

.dtdetail {
  max-width: 100px;
  min-width: 100px;
}

.dtremarks {
  max-width: 180px;
  min-width: 180px;
}

.dprogress {
  max-width: 100px;
  min-width: 100px;
}



