#root {
  margin: 0;
  padding: 0;
  text-align: center;
}


.Top_Caution {
  font-size: 15px;
  color: red;
  text-align: center;
  width: 100vw;
}

input {
  font-size: 18px;
}



/* App.css */
.page {
  position: absolute;
  text-align: center
}

.Loadingarea {
  position: absolute;
  z-index: 9999;
}

/* フェードインのアニメーション */
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 0ms ease-in;
}



